$db = parse_url(getenv('DATABASE_URL'));
?>

[database]
charset = "utf8mb4"
host = "<?php echo @$db['host']; ?>"
username = "<?php echo @$db['user']; ?>"
password = "<?php echo @$db['pass']; ?>"
dbname = "<?php echo trim(@$db['path'], '/'); ?>"
port = <?php echo @$db['port'].PHP_EOL; ?>
enable_ssl = 1
ssl_no_verify = 1
ssl_ca = "/usr/share/ca-certificates/Scalingo/scalingo-database.pem"

[General]
assume_secure_protocol = 1
proxy_client_headers[] = HTTP_X_FORWARDED_FOR
force_ssl = 1

; Scalingo MySQL does not allow LOAD DATA INFILE
enable_load_data_infile = 0

; Update cannot be done automatically
enable_auto_update = 0

; Always set multi_server_environment which prevents installing plugins from the UI,
; among other things.
multi_server_environment = 1

always_load_commands_from_plugin=DbCommands,AdminCommands,LicenseKeyCommands
enable_trusted_host_check = 0
<?php if (getenv('MATOMO_MAINTENANCE') == 'true') { ?>
maintenance_mode = 1 
<?php } ?>

<?php if (getenv('MATOMO_SALT')) { ?>
salt = "<?php echo getenv('MATOMO_SALT').PHP_EOL; ?>"
<?php } ?>

<?php if (getenv('SMTP_FROM')) { ?>
noreply_email_address = <?php echo getenv('SMTP_FROM').PHP_EOL; ?>
<?php } ?>

[Tracker]
<?php if (getenv('MATOMO_TRACKER_DEBUG') == 'true') { ?>
debug=1
<?php } ?>
<?php if (getenv('MATOMO_MAINTENANCE') == 'true') { ?>
record_statistics = 0
<?php } ?>

[log]
; Possible values are "screen" (default value), "file", "database" (logs to tables logger_*),
; "errorlog" (logs using the error_log() php function) and "syslog" (logs to the syslog service)
<?php if (str_starts_with(getenv('CONTAINER'), 'web-')) { ?>
log_writers[] = file
<?php } ?>
; Possible values are ERROR, WARN, INFO, DEBUG
<?php if (getenv('MATOMO_LOG_LEVEL')) { ?>
log_level = <?php echo getenv('MATOMO_LOG_LEVEL').PHP_EOL; ?>
<?php } ?>
; if configured to log to file, log entries will be written to this file
logger_file_path = /tmp/matomo.log

<?php if (getenv('MATOMO_DEBUG_SQL_PROFILER') == 'true') { ?>
[Debug]
enable_sql_profiler = 1
<?php } ?>

[mail]
transport = smtp
type = Plain
<?php if (getenv('SMTP_HOST')) { ?>
host = <?php echo getenv('SMTP_HOST').PHP_EOL; ?>
<?php } ?>
<?php if (getenv('SMTP_PASS')) { ?>
password = <?php echo getenv('SMTP_PASS').PHP_EOL; ?>
<?php } ?>
<?php if (getenv('SMTP_PORT')) { ?>
port = <?php echo getenv('SMTP_PORT').PHP_EOL; ?>
<?php } ?>
<?php if (getenv('SMTP_USER')) { ?>
username = <?php echo getenv('SMTP_USER').PHP_EOL; ?>
<?php } ?>
